
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.navlinks{
    display: flex;
    column-gap: 10px;
}
.navlinks a{
text-decoration: none;
color: #fff;
}
.navlinks a:hover{
text-decoration: underline;
color: #fff;
}
header {
    background-color:linen;
    color:darkslategrey;
    padding: 10px 0;
    text-align: center;
}
h1 {
    margin: 0;
}
.navbarbody {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}
.navbarbody a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    background-image: url('Assets\animals.jpeg');
    background-size: cover;
}
.intro{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: crimson;
    text-align: center;
}
.animal {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}
